   .select2-container--default .select2-selection--single .select2-selection__arrow b {
   border-color: #fff transparent transparent transparent;
   }
   .select2-container--default .select2-selection--single {
   border-radius: 2px;
   border-color: rgb(189, 195, 209);
   height: 34px;
   
   }
   .select2-container--default .select2-selection--single .select2-selection__rendered {
   line-height: 2.5;

   }
   .media-left, .media-right, .media-body {
   display: table-cell;
   vertical-align: middle;
   }
   table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.headfiltro{
   background-color: #eaeaea !important; 
   color:#000000!important;
   font-size:15px;
}
.infiltro{
   margin-top:10px;
}
