body{
	background-color: #fafafa;

}
.panel{
	border: 1px solid #efefef;
}
.leftpanel{
	background-color: #414042;
    top:64px;
}
.nav-quirk {
    background-color: rgb(65, 64, 66);
    color:black;
}
.nav-quirk > li > a {
	color: #9bc947;
}
.nav-quirk > li > a > i {
    color: #9bc947;
}
.nav-quirk .children, .headerpanel, .headerpanel .logopanel {
    background-color: rgba(255,255,255,0.5);
    background-color: rgba(65, 64, 66, 0.5);;
}
.headerpanel, .headerpanel .logopanel {
    background-color: rgba(255,255,255,0.5);
}
.headerpanel .logopanel{
    background-color: #414042;
}
.nav-quirk > li.active > a {
    color: #fff;
    background-color: #9bc947;
    background-image: -webkit-linear-gradient(left, #9bc947 0%, #c5f6bc 100%);
    background-image: -o-linear-gradient(left, #9bc947 0%, #c5f6bc 100%);
    background-image: linear-gradient(to right, #9bc947 0%, #c5f6bc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9bc947', endColorstr='#c5f6bc', GradientType=1);
}
.slide-tools{
	border-top: none;
	color: rgb(107, 171, 228);
	background-color: #eeeeee;
}
.nav-quirk .children > li > a {
    color: #70942e;
}
.nav-quirk .children > li.active > a {
    color: #9bc947; 
}
.nav-quirk > li > a:hover, .nav-quirk > li > a:focus {
    color: #fff;
    background-color: rgb(172,212,161);
}
.nav-quirk .children > li.active > a:after {
    border-color: #9bc947;
}
.nav-quirk .children > li.active > a:before {
    background-color: #9bc947;
}
.nav-quirk .children > li > a:hover, .nav-quirk .children > li > a:focus, .nav-quirk .children > li > a:active {
    color: #9bc947;
}
.nav-quirk .children > li > a:hover::after, .nav-quirk .children > li > a:focus::after, .nav-quirk .children > li > a:active::after {
    border-color: #9bc947;
}
.nav-quirk .children > li > a:hover::before, .nav-quirk .children > li > a:focus::before, .nav-quirk .children > li > a:active::before {
    background-color: #9bc947;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ffffff;
    font-size:14px;
}
.table-striped > tbody > tr:nth-child(even) {
    background-color: #ffffff;
    font-size:14px;
}
.leftpanel-profile {
    background-color: rgba(247,245,245,0.9);
}
.leftpanel-profile .media-body {
    color: rgba(0, 0, 0, 0.5);
}
.select2-container--default .select2-selection--single {
    background-color: #ffffff!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
     color: #000000!important; 
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #000 transparent transparent transparent!important;
}
.table > thead > tr > th {
    background-color: #eaeaea!important;
    font-size:15px;
}

.table-options > li > a {
    color: inherit;
    font-size: 11px;
    line-height: 0;
    transition: all 0.2s ease-out 0s;
}

.btn-xs{
    border: 1px solid;
}
.btn-success {
    color: #9bca47;
    background-color: #ffffff;
    border-color: #9bca47;
    border: 1px solid #9bca47!important;
}
.btn-success:hover {
    color: #ffffff!important;
    background-color: #9bca47;
    border-color: #9bca47;
}
.table-options > li > a.btn-success{
    color: #9bca47;
}

.btn-danger {
    color: #d9534f;
    background-color: #ffffff;
    border-color: #d9534f;
}
.table-options > li > a.btn-danger{
    color: #d9534f;
}
.btn-info {
    color: rgb(91, 192, 222);
    background-color: #ffffff;
    border-color: rgb(91, 192, 222);
}
.table-options > li > a.btn-info{
    color: rgb(91, 192, 222);
}
.btn-create {
    background-color: rgba(172,212,161,0.5);
    -webkit-transition:.5s all;
}

.btn-create:hover {
    background-color: rgba(172,212,161,1);
    color: white;
}
.btn-aprobar {
    color: #5db555;
    background-color: #ffffff;
    border-color: #5db555;
}
.btn-aprobar:hover {
    color: #ffffff;
    background-color: #5db555;
    border-color: #5db555;
}
.btn-logged > img {
    width: 35px!important;
    padding: 2px;
    border:2px solid #9bc947;
}
.table > thead > tr > th {
    color: #000000!important;
}

th input[type=text] {
    background-color: #ffffff!important;
    color: #000000!important;
}
.encabezado::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000!important;
}
.tooltip{
    background-color: white;
    color:cyan;
}
a {
    color: #9bc947;
}
.text-success {
    color: #9bc947;
}
.nav-quirk > li.active .children:before {
    border-top: 7px solid #9bc947;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 0;
}
.nav-quirk .children > li {
    margin-left: 21px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    letter-spacing: normal;
    display: block;
    font-size: 12px;
    border-left: 1px solid #9bc947;
}
.nav-quirk .children > li > a::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    left: -3px;
    top: 50%;
    background-color: #9bc947;
    margin-top: -3px;
    border-radius: 50px;
    transition: all 0.2s ease-out 0s;
}
.headermenu > li .btn {
    color: #9bc947;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #9bca47!important;
    border-color: transparent;
    cursor: pointer;
}
.nav-quirk > li {
    border-bottom: 1px solid #9bc947;
}
.label-info {
    background-color: #9bca47;
}