  
.white-text{
font-weight: 200;
    font-size: 24px;
    color: #ffffff;
    line-height: 1.2;
}
  .card{
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    background-clip:border-box;
    border:1px solid rgba(0,0,0,.125);
    border-radius:.25rem
}
.view{
    position:relative;
    overflow:hidden;
    cursor:default
}



.card.card-image{
    -webkit-background-size:cover;
    background-size:cover;
    background-position:center;
    width:100%
}
.card.card-image [class*=rgba-]{
    -webkit-border-radius:.25rem;
    border-radius:.25rem
}
.card.card-cascade .view.view-cascade{
    -webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    -webkit-border-radius:.25rem;
    border-radius:.25rem
}
.card.card-cascade .view.view-cascade.gradient-card-header{
    padding:1.6rem 1rem;
    text-align:center
}
.card.card-cascade .view.view-cascade.gradient-card-header .card-header-title{
    font-weight:500
}
.card.card-cascade .view.view-cascade.gradient-card-header .btn-floating{
    background-color:rgba(255,255,255,.2)
}
.card.card-cascade.wider{
    -webkit-box-shadow:none;
    box-shadow:none;
    background-color:transparent
}
.card.card-cascade.wider .view.view-cascade{
    z-index:2
}
.card.card-cascade.wider .card-body.card-body-cascade{
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    margin-left:4%;
    margin-right:4%;
    background:#fff;
    z-index:1;
    -webkit-border-radius:0 0 .25rem .25rem;
    border-radius:0 0 .25rem .25rem
}
.card.card-cascade.wider.reverse .card-body.card-body-cascade{
    z-index:3;
    margin-top:-1rem;
    -webkit-border-radius:.25rem;
    border-radius:.25rem;
    -webkit-box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow:0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)
}
.card.card-cascade.narrower{
    margin-top:1.25rem
}
.card.card-cascade.narrower .view.view-cascade{
    height: 80px;
    margin-left:4%;
    margin-right:4%;
    margin-top:-1.25rem
}
.card.card-cascade.panel-cascade .view{
    text-align:center;
    color:#fff
}
.card.card-cascade.panel-cascade .list-group .list-group-item{
    margin-bottom:0;
    border:0;
    border-bottom:1px solid #eee;
    color:#495057
}
.card.card-cascade.panel-cascade .list-group .list-group-item:hover{
    background-color:#eee
}


.btn.blue-gradient{
    -webkit-transition:.5s ease;
    -o-transition:.5s ease;
    transition:.5s ease;
    color:#fff
}
.btn.blue-gradient:active,.btn.blue-gradient:active:focus .btn.blue-gradient.active,.btn.blue-gradient:focus,.btn.blue-gradient:hover{
    background:-webkit-linear-gradient(50deg,#5ed1fc,#3647b3);
    background:-o-linear-gradient(50deg,#5ed1fc,#3647b3);
    background:linear-gradient(40deg,#5ed1fc,#3647b3)
}

.blue-gradient{
    background-color:#d02026 !important;
    
}


.justify-content-between{
    -ms-flex-pack:justify!important;
    justify-content:space-between!important
}

.align-items-center{
    -ms-flex-align:center!important;
    align-items:center!important
}

.pr-2,.px-2{
    padding-right:.5rem!important
}
.pb-2,.py-2{
    padding-bottom:.5rem!important
}
.pl-2,.px-2{
    padding-left:.5rem!important
}

a.waves-effect,a.waves-light{
    display:inline-block
}

.mr-3,.mx-3{
    margin-right:1rem!important
}
.mb-3,.my-3{
    margin-bottom:1rem!important
}
.ml-3,.mx-3{
    margin-left:1rem!important
}

.pr-4,.px-4{
    padding-right:1.5rem!important
}
.pb-4,.py-4{
    padding-bottom:1.5rem!important
}
.pl-4,.px-4{
    padding-left:1.5rem!important
}
.mb-0,.my-0{
    margin-bottom:0!important
}
.pt-2,.py-2{
    padding-top:.5rem!important
}
.pr-2,.px-2{
    padding-right:.5rem!important
}
.pb-2,.py-2{
    padding-bottom:.5rem!important
}

.mr-4,.mx-4{
    margin-right:1.5rem!important
}
.mb-4,.my-4{
    margin-bottom:1.5rem!important
}
.ml-4,.mx-4{
    margin-left:1.5rem!important
}

.mb-3,.my-3{
    margin-bottom:1rem!important
}

.mt-4,.my-4{
    margin-top:1.5rem!important
}
.mr-4,.mx-4{
    margin-right:1.5rem!important
}
.mb-4,.my-4{
    margin-bottom:1.5rem!important
}


.pagination .page-item.active .page-link{
    -webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;
    -webkit-border-radius:.125rem;
    border-radius:.125rem;
    background-color:#d02026;
    color:#fff
}
.pagination .page-item.active .page-link:hover{
    background-color:#d02026
}
.pagination .page-item.disabled .page-link{
    color:#868e96
}
.pagination .page-item .page-link{
    -webkit-transition:all .3s linear;
    -o-transition:all .3s linear;
    transition:all .3s linear;
    outline:0;
    border:0;
    background-color:transparent;
    font-size:1.2rem;
    color:#212529
}
.pagination .page-item .page-link:hover{
    -webkit-transition:all .3s linear;
    -o-transition:all .3s linear;
    transition:all .3s linear;
    -webkit-border-radius:.125rem;
    border-radius:.125rem;
    background-color:#eee
}
.pagination .page-item .page-link:focus{
    background-color:transparent
}
.pagination.pagination-lg .page-item .page-link{
    font-size:1rem
}
.pagination.pagination-sm .page-item .page-link{
    font-size:.8rem
}
.pagination.pagination-circle .page-item .page-link{
    margin-left:2px;
    margin-right:2px;
    -webkit-border-radius:50%;
    border-radius:50%
}
.pagination.pagination-circle .page-item .page-link:hover{
    -webkit-border-radius:50%;
    border-radius:50%
}
.pagination.pagination-circle .page-item.active .page-link{
    -webkit-border-radius:50%;
    border-radius:50%
}
.pagination.pg-blue .page-item.active .page-link{
    background-color:#d02026
}
.pagination.pg-blue .page-item.active .page-link:hover{
    background-color:#d02026
}
.pagination.pg-red .page-item.active .page-link{
    background-color:#ff3547
}
.pagination.pg-red .page-item.active .page-link:hover{
    background-color:#ff3547
}
.pagination.pg-teal .page-item.active .page-link{
    background-color:#2bbbad
}
.pagination.pg-teal .page-item.active .page-link:hover{
    background-color:#2bbbad
}
.pagination.pg-dark-grey .page-item.active .page-link{
    background-color:#37474f
}
.pagination.pg-dark-grey .page-item.active .page-link:hover{
    background-color:#37474f
}
.pagination.pg-dark .page-item.active .page-link{
    background-color:#2e2e2e
}
.pagination.pg-dark .page-item.active .page-link:hover{
    background-color:#2e2e2e
}
.pagination.pg-blue-grey .page-item.active .page-link{
    background-color:#3f729b
}
.pagination.pg-blue-grey .page-item.active .page-link:hover{
    background-color:#3f729b
}
.pagination.pg-amber .page-item.active .page-link{
    background-color:#ff6f00
}
.pagination.pg-amber .page-item.active .page-link:hover{
    background-color:#ff6f00
}
.pagination.pg-purple .page-item.active .page-link{
    background-color:#5e35b1
}
.pagination.pg-purple .page-item.active .page-link:hover{
    background-color:#5e35b1
}


.page-item:first-child .page-link{
    margin-left:0;
    border-top-left-radius:.25rem;
    border-bottom-left-radius:.25rem
}
.page-item:last-child .page-link{
    border-top-right-radius:.25rem;
    border-bottom-right-radius:.25rem
}
.page-item.active .page-link{
    z-index:1;
    color:#fff;
    background-color:#007bff;
    border-color:#007bff
}
.page-item.disabled .page-link{
    color:#6c757d;
    pointer-events:none;
    cursor:auto;
    background-color:#fff;
    border-color:#dee2e6
}
.pagination-lg .page-link{
    padding:.75rem 1.5rem;
    font-size:1.25rem;
    line-height:1.5
}
.pagination-lg .page-item:first-child .page-link{
    border-top-left-radius:.3rem;
    border-bottom-left-radius:.3rem
}
.pagination-lg .page-item:last-child .page-link{
    border-top-right-radius:.3rem;
    border-bottom-right-radius:.3rem
}
.pagination-sm .page-link{
    padding:.25rem .5rem;
    font-size:.875rem;
    line-height:1.5
}
.pagination-sm .page-item:first-child .page-link{
    border-top-left-radius:.2rem;
    border-bottom-left-radius:.2rem
}
.pagination-sm .page-item:last-child .page-link{
    border-top-right-radius:.2rem;
    border-bottom-right-radius:.2rem
}


.d-flex{
    display:-ms-flexbox!important;
    display:flex!important
}

.btn-rounded{
    -webkit-border-radius:10em;
    border-radius:10em
}


.btn-outline-white{
    border:2px solid #fff!important;
    background-color:transparent!important;
    color:#fff!important
}

.btn-outline-white:hover{
    border:2px solid #fff!important;
    background-color: rgb(188, 188, 188,0.5) !important;
    color:#fff!important
}


/*

    A PARTIR DE ACA ESTAN LOS COLORES DE LOS SELECT Y DE LOS INPUT DE LAS TABLAS

*/


  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent;
  }
  .select2-container--default .select2-selection--single {
    border-radius: 0px;
    height: 34px;
    color:red;
    border-color: #ffffff;
    border-width: 0px;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 2.5;
    color:#d02026;
  }
  .media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: middle;
  }

  .form-control, .single-line{
    border-radius: 0px;
    height: 34px;

    border-color: #ffffff;
    border-width: 0px;
  }
  .form-control::-webkit-input-placeholder { color: #d02026; }  /* WebKit, Blink, Edge */
  .form-control{color:#d02026}


  .tabla_custom th {
      text-align: left;
      background-color: white !important;
      color: #d02026;
      text-align: left;    
      height: 34px;
  }

.label_table{
  color:white;
  background:#000000;
  margin: 3px;
  padding: 5px;
  line-height: 3;
  font-size: 12px;
  cursor: pointer;
}
