#wrapper {
     position: relative;
}
 #over_map {
     position: absolute;
     top: 10px;
     left: 10px;
     z-index: 99;
     margin-left:75%;
}
 #map {
     margin: 0;
     padding: 0;
     height: 100%;
     max-width: none;
}
 #map-canvas img {
     max-width: none !important;
}
 .gm-style-iw {
     width: 350px !important;
     top: 15px !important;
     left: 0px !important;
     background-color: #fff;
     box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
     border: 1px solid rgba(72, 181, 233, 0.6);
     border-radius: 2px 2px 10px 10px;
}
 #iw-container {
     width: 350px !important;
     margin-bottom: 10px;
}
 #iw-container .iw-title {
     font-family: 'Open Sans Condensed', sans-serif;
     font-size: 22px;
     font-weight: 400;
     padding: 10px;
     background-color: #48b5e9;
     color: white;
     margin: 0;
     border-radius: 2px 2px 0 0;
}
 #iw-container .iw-content {
     font-size: 14px;
     line-height: 18px;
     font-weight: 400;
     margin-right: 1px;
     padding: 15px 5px 20px 15px;
     max-height: 140px;
     overflow-y: auto;
     overflow-x: hidden;
}
 .iw-content img {
     float: right;
     margin: 0 5px 5px 10px;
}
 .iw-subTitle {
     font-size: 16px;
     font-weight: 700;
     padding: 5px 0;
}
 .iw-bottom-gradient {
     position: absolute;
     width: 326px;
     height: 25px;
     bottom: 10px;
     right: 18px;
     background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
     background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
     background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
     background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
 .letraiconos {
     font-size:20px;
}
 .alineacionletras {
     margin-top:4% 
}
 @keyframes hover-color {
     from {
         border-color: #c0c0c0;
    }
     to {
         border-color: #d02026;
    }
}
 .magic-radio, .magic-checkbox {
     position: absolute;
     display: none;
}
 .magic-radio[disabled], .magic-checkbox[disabled] {
     cursor: not-allowed;
}
 .magic-radio + label, .magic-checkbox + label {
     position: relative;
     display: block;
     padding-left: 30px;
     cursor: pointer;
     vertical-align: middle;
}
 .magic-radio + label:hover:before, .magic-checkbox + label:hover:before {
     animation-duration: 0.4s;
     animation-fill-mode: both;
     animation-name: hover-color;
}
 .magic-radio + label:before, .magic-checkbox + label:before {
     position: absolute;
     top: 0;
     left: 0;
     display: inline-block;
     width: 20px;
     height: 20px;
     content: '';
     border: 1px solid #c0c0c0;
}
 .magic-radio + label:after, .magic-checkbox + label:after {
     position: absolute;
     display: none;
     content: '';
}
 .magic-radio[disabled] + label, .magic-checkbox[disabled] + label {
     cursor: not-allowed;
     color: #e4e4e4;
}
 .magic-radio[disabled] + label:hover, .magic-radio[disabled] + label:before, .magic-radio[disabled] + label:after, .magic-checkbox[disabled] + label:hover, .magic-checkbox[disabled] + label:before, .magic-checkbox[disabled] + label:after {
     cursor: not-allowed;
}
 .magic-radio[disabled] + label:hover:before, .magic-checkbox[disabled] + label:hover:before {
     border: 1px solid #e4e4e4;
     animation-name: none;
}
 .magic-radio[disabled] + label:before, .magic-checkbox[disabled] + label:before {
     border-color: #e4e4e4;
}
 .magic-radio:checked + label:before, .magic-checkbox:checked + label:before {
     animation-name: none;
}
 .magic-radio:checked + label:after, .magic-checkbox:checked + label:after {
     display: block;
}
 .magic-radio + label:before {
     border-radius: 50%;
}
 .magic-radio + label:after {
     top: 6px;
     left: 6px;
     width: 8px;
     height: 8px;
     border-radius: 50%;
     background: #d02026;
}
 .magic-radio:checked + label:before {
     border: 1px solid #d02026;
}
 .magic-radio:checked[disabled] + label:before {
     border: 1px solid #c9e2f9;
}
 .magic-radio:checked[disabled] + label:after {
     background: #c9e2f9;
}
 .magic-checkbox + label:before {
     border-radius: 3px;
}
 .magic-checkbox + label:after {
     top: 2px;
     left: 7px;
     box-sizing: border-box;
     width: 6px;
     height: 12px;
     transform: rotate(45deg);
     border-width: 2px;
     border-style: solid;
     border-color: #fff;
     border-top: 0;
     border-left: 0;
}
 .rightc {
     float:right;
}
 .total {
     color:green;
}
 .magic-checkbox:checked + label:before {
     border: #d02026;
     background: #d02026;
}
 .magic-checkbox:checked[disabled] + label:before {
     border: #c9e2f9;
     background: #c9e2f9;
}
