.div_header {
    width: 100%;
    height: 50px;
    background-color: #000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    z-index: 2;
}
.div_content {
    width: 100%;
    height: 800px;
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    margin-top: 50px;
    position: absolute;
    z-index: 1;
}
#listado {
    height: 100%;
    display: none;
}
.infowindow tr > td {
    padding: 5px;
    vertical-align: top;
}
.infowindow .titulo {
    font-weight: bold;
    font-size: 16px;
    color: red;
}
.infowindow .detalle {
    font-size: 13px;
    color: black;
}
.infowindow .abierto {
    font-weight: bold;
    font-size: 13px;
    color: green;
}



#map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px!important;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #DC3545;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #DC3545;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-danger {
    color: #fff;
    background-color: #D02026;
    border-color: #D02026;
}

.container input:checked ~ .checkmark {
    background-color: #D02026;
}

.checkmark {
    border: 1px solid #D02026;
}